@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

:root {
  --jost      : 'Jost', sans-serif;
  --white     : #ffffff;
  --black     : #110229;
  --dip-blue  : #007882;
  --gray      : #666666;
  --light-gray: #999999;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--jost);
  font-weight: 400;
  font-size  : 1.6rem;
  line-height: 2.6rem;
}

button {
  border    : 0;
  background: transparent;
  cursor    : pointer;
}

a {
  text-decoration: none;
}
span {
  display: inline-block;
}
@media (max-width: 575.98px) {
  html {
    font-size: 50%;
  }
}